@import "./variables.scss";
@import "./mixins.scss";

.text {
  @include base-font-style(green);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text2 {
  @include base-font-style(orange, red, font-style, italic);
  font-family: fantasy;
}
.text3 {
  @include base-font-style(blue);
  font-family: cursive;
}
.text4 {
  @include base-font-style(red);
  font-family: monospace;
}
.text5 {
  @include base-font-style(purple);
  font-family: "Courier New", Courier, monospace;
}
div {
  h1 {
    @include base-font-style(black);
    font-family: "Courier New", Courier, monospace;

    span {
      font-size: 5rem;
    }
  }
}
section {
  h1 {
    @include base-font-style(white, black);
    font-family: "Courier New", Courier, monospace;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.div-container {
  width: 70%;
  margin: 0 auto;
}

.section-container {
  @extend .div-container;
  text-align: center;
}
